authors/
posts/
media/

*.parquet
*.json
*.csv
*.jsonl
*.jsonl.gz
*.jsonl.gz.part
*.jsonl.gz.part.tmp

.env
__pycache__/
.pytest_cache/

.venv/

*.log
*.log.*
*.log.*.*
*.log.*.*.*
*.log.*.*.*.*
*.log.*.*.*.*.*
*.log.*.*.*.*.*.*